.php_cs.cache
*.save
*.log*
.idea
.DS_Store
._*
*~
*.bak
*.project
*.swp
.buildpath
.cache
.project
.session
.settings
.TemporaryItems
.webprj
nbproject

/log/
/tmp/
/vendor/
/shared
/var
/public/
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/LocalConfiguration.php
